/*
reset
*/

*{
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /*rem = 10px et non plus 16.5px comme c'est le cas à l'origine*/
}

body{
    font-size: 1.5rem;
}

h1{
    font-size: 3rem;
    color: red;
}

h1 span{
    font-size: .5em;
}